<!doctype html>
<head>
<!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Molurus Tech Multi-Purpose themeforest">
    <meta name="description" content="Molurus Tech - Multi-Purpose HTML5 Template">
    <meta name="author" content="">
    
    <!-- Title -->
    <title>AOT Seasons</title>
    <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/7410/12272594713_fb1db15882_z.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<!-- Style -->
    <style>
   body {
    background-color: #1c1c1e;
    color: #f8f9fa;
   } 

   .navbar-nav .nav-link:hover {
    color: #ffc107;
    transition: 0.3s;
  }

  .navbar-brand {
    letter-spacing: 1px;
}
   </style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top mb-20">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'aot' %}"><b><b>AOT</b></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
       <ul class="navbar-nav">
  <li class="nav-item d-flex align-items-center">

    <!--  Seasons Text (link to page) -->
    <a class="nav-link pe-1" href="{% url 'seasons' %}">Seasons</a>

    <!-- Dropdown Arrow -->
    <div class="dropdown">
      <a class="nav-link dropdown-toggle py-2 px-2" href="#" id="seasonDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        
      </a>
      <ul class="dropdown-menu" aria-labelledby="seasonDropdown">
        <li><a class="dropdown-item" href="/season1"><b>Season 1</b></a></li>
        <li><a class="dropdown-item" href="/season2"><b>Season 2</b></a></li>
        <li><a class="dropdown-item" href="/season3"><b>Season 3</b></a></li>
        <li><a class="dropdown-item" href="/season4"><b>Season 4</b></a></li>
        <li><a class="dropdown-item" href="/season4part2"><b>Season 4 Part 2</b></a></li>
        <li><a class="dropdown-item" href="/season4part2"><b>Final Season</b></a></li>
      </ul>
    </div>

  </li>
</ul>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'characters' %}">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'game' %}">Game</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- Body -->
    <body>
        <div class="container">
        <div class="p-5 mb-2 .bg-light text-secondary-emphasis">
        <h1 style="font-size: 50px; text-align: center; padding: 20px; color: #f8f9fa;"><b><b>AOT Seasons</b><b></h1>
        </div>
            <!-- {% load static %}
            <img src="{% static 'aotbanner.jpg' %}" style="display: block; margin: 0 auto; border-radius: 11%; width: 1000px; " alt="attack on Titan"> -->
            <br>
            </div>
            <div class="container">

            <!-- Cards -->

<!-- S1 -->
<div class="row">
    <div class="col-auto">
    <!-- <div style=" border-radius: 20px; border-color: black;"> -->
        <div class="card" style="width: 15rem;">
          <a href="https://hianime.bz/attack-on-titan-112">
  <img style="height: 340px;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/debf027d032c6d40b91fab16b2ff9bd4.jpg" class="card-img-top" alt="AOT season 1">
  </a>
  <div class="card-body">
    <p class="card-text">Attack on Titan S1</p>
  </div>
</div>
</div>
<!-- S2 -->
<div class="col-auto">
 <div class="card" style="width: 15rem;">
  <a href="https://hianime.bz/attack-on-titan-season-2-150">
  <img style="height: auto;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/5d97e8c9a57b03c06dd59650c0a3c693.jpg" class="card-img-top" alt="AOT season 2">
  </a>
  <div class="card-body">
    <p class="card-text">Attack on Titan S2</p>
  </div>
</div>
</div>
<!-- S3 -->
<div class="col-auto">
<div class="card" style="width: 15rem;">
  <a href="https://hianime.bz/attack-on-titan-season-3-85">
  <img style="height: 340px;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/98b21bfbd9fa3d49ec80ba8fe75ed5cd.jpg" class="card-img-top" alt="AOT season 3">
  </a>
  <div class="card-body">
    <p class="card-text">Attack on Titan S3</p>
    </div>
  </div>
  </div>
<!-- S4 -->
  <div class="col-auto">
<div class="card" style="width: 15rem;">
  <a href="https://hianime.bz/attack-on-titan-final-season-part-1-15548">
  <img style="height: 340px;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/83da53919d7a20332be01686141f18f6.jpg" class="card-img-top" alt="AOT season 4">
  </a>
  <div class="card-body">
    <p class="card-text">Attack on Titan S4</p>
  </div>
  </div>
  </div>
<!-- S4 P2 -->
   <div class="col-auto">
<div class="card" style="width: 15rem; margin-bottom: 15px;">
  <a href="https://hianime.bz/attack-on-titan-final-season-part-2-17753">
  <img style="height: 340px;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/160831b6a0c1303e1439925d8f8c7395.jpg" class="card-img-top" alt="AOT season 4 part2">
  </a>
  <div class="card-body">
    <p class="card-text">Attack on Titan S4 Part2</p>
  </div>
  </div>
  </div>
<!-- Final Season -->
<div class="col-auto">
<div class="card" style="width: 15rem; margin-bottom: 20px;">
  <a href="https://hianime.bz/attack-on-titan-the-final-season-part-3-18329">
  <img style="height: 340px;" src="https://cdn.noitatnemucod.net/thumbnail/300x400/100/54d3f59bcc7caf1539c701eb0a064ec9.png" class="card-img-top" alt="AOT final S">
  </a>
  <div class="card-body">
    <p class="card-text">AOT Final Season</p>
    </div>
  </div>
  </div>
  </div>
            <!-- Bootstrap -->
        <!-- <a href="home">Go To Homepage</a> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>